xml/isbnResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GoodreadsResponse" type="GoodreadsResponseType"/>
  <xs:complexType name="original_publication_dayType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type"/>
        <xs:attribute type="xs:string" name="nil"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="idType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ratings_countType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="searchType">
    <xs:sequence>
      <xs:element type="xs:string" name="query"/>
      <xs:element type="xs:string" name="results-start"/>
      <xs:element type="xs:string" name="results-end"/>
      <xs:element type="xs:string" name="total-results"/>
      <xs:element type="xs:string" name="source"/>
      <xs:element type="xs:string" name="query-time-seconds"/>
      <xs:element type="resultsType" name="results"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="authorType">
    <xs:sequence>
      <xs:element type="idType" name="id"/>
      <xs:element type="xs:string" name="name"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShowBookResponseType">
    <xs:sequence>
      <xs:element type="RequestType" name="Request"/>
      <xs:element type="searchType" name="search"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="original_publication_yearType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="text_reviews_countType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="workType">
    <xs:sequence>
      <xs:element type="idType" name="id"/>
      <xs:element type="books_countType" name="books_count"/>
      <xs:element type="ratings_countType" name="ratings_count"/>
      <xs:element type="text_reviews_countType" name="text_reviews_count"/>
      <xs:element type="original_publication_yearType" name="original_publication_year"/>
      <xs:element type="original_publication_monthType" name="original_publication_month"/>
      <xs:element type="original_publication_dayType" name="original_publication_day"/>
      <xs:element type="xs:string" name="average_rating"/>
      <xs:element type="best_bookType" name="best_book"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resultsType">
    <xs:sequence>
      <xs:element type="workType" name="work"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="original_publication_monthType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type"/>
        <xs:attribute type="xs:string" name="nil"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="best_bookType">
    <xs:sequence>
      <xs:element type="idType" name="id"/>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="authorType" name="author"/>
      <xs:element type="xs:string" name="image_url"/>
      <xs:element type="xs:string" name="small_image_url"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="type"/>
  </xs:complexType>
  <xs:complexType name="books_countType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="RequestType">
    <xs:sequence>
      <xs:element type="xs:string" name="authentication"/>
      <xs:element type="xs:string" name="key"/>
      <xs:element type="xs:string" name="method"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>